# Benchmark:
*.csv
*.log

# Latex:
**/latex/**
!**/latex/**/
!**/latex/*.tex
!**/latex/*.bib
!**/latex/*.csv
!**/latex/*.ipynb

# VSCode: 
.vscode
*.code-workspace

# Compiled binaries:
*.out
*.exe
*.o

# images (assigmnent2)
Assignment2/src/lenia/*.gif
