# Benchmark:
*.csv
*.log
*.txt
*.gif

# Latex:
**/latex/**
!**/latex/**/
!**/latex/*.tex
!**/latex/*.bib
!**/latex/*.csv
!**/latex/*.ipynb

# VSCode: 
.vscode
*.code-workspace

# Compiled binaries:
*.out
*.exe
*.o

# Media and results should be included:
**/media/**
!**/media/
!**/media/**
**/results/**
!**/results/
!**/results/**
